exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(gridExtra)
import(rgl)
import(sphereplot)
import(plot3D)
import(RColorBrewer)
import(colorRamps)
importFrom("graphics", "plot", "title")
importFrom("grDevices", "gray", "rainbow")
importFrom("graphics", "hist")
importFrom("stats", "ecdf", "frequency")
importFrom("utils", "tail")
